<html>
        
        <head>
            <link href="/css/styles.css" rel="stylesheet" type="text/css" />
            <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
        </head>
        
        <body>
            <% include ../partials/masterNavbar.ejs %>
                <main role="main">
                    <div class="jumbotron">
                        <label><strong>email @: </strong>&nbsp;sufiyanbudye7@gmail.com</label><br/>
                        <label><strong>give a call @: </strong>&nbsp;8744851292</label>
                    </div>
                </main>
                <footer class="container">
                    <p>&copy; codewithsufiyan 2017</p>
                </footer>
                <script src="/scripts/jquery.min.js"></script>
                <script src="/scripts/bootstrap.js"></script>
        </body>
        
        </html>